@import '~bootstrap/scss/bootstrap';

.clickable {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  text-align: left;
}

.css-1bl8mcx-Control {
  display: flex;
  width: 100% !important;
}

.css-26l3qy-menu:nth-child(3) {
  height: 2rem !important;
  padding: 0;
}

.css-14el2xx-placeholder {
  width: 80%;
}

.date-range-wrapper {
  margin-left: 8vw;
}

.date-range-button {
  margin: 3vw;
  border: 2px solid transparent;
  background: none;
  border-radius: 4px;
  transition: color ease-in-out 0.15s, border ease-in-out 0.15s, background-color ease-in-out 0.15s;

  &:hover {
    color: #82ca9e;
    background: #9fccb01c;
    border: 2px solid #82ca9e;
  }
}

.graph-wrapper {
  width: 40vw;
}

.recharts-cartesian-axis-ticks {
  display: none;
}

.recharts-cartesian-axis-line {
  display: none;
}

.recharts-wrapper {
  // margin-left: 3vw;
  margin-right: 0;
}

.search-bar {
  // display: flex;
  // flex-direction: row;
  width: 17vw;
  border: 1px solid #b3b3b3;
  margin: 1rem 0 3rem 4vw;
  // margin-left: 10vw;
  padding: 0 !important;
  border-radius: 0.3rem;
  // height: 4vh;
}

.search-bar-spacer {
  width: 51.5vw;
}

.search-bar-row {
  height: 8vh;
}

.stock-bar {
  background-color: grey;
}

.stock-bar-box {
  display: inline;
  align-items: center;
  height: 12vh;
  width: 80vw;
  background-color: #dadada;
  border-radius: 0.3rem;
  margin: 1rem 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0 1vh;
  box-shadow: 0px 0px 0 -20px, 0px 0px 11px -7px;
  border-collapse: collapse;
}

.stock-bar-pc {
  text-align: right;
}

.stock-bar-price {
  width: 6vw;
  margin-bottom: 0;
  text-align: right;
}

.stock-bar-price-pc-box {
  margin-right: 2vw;
  margin-left: 1vw;
}

.stock-bar-stock {
  display: inline-flex;
  align-items: center;
  margin: 2vh 1vh;
  border-radius: 0.3rem;
  background-color: #f5f5f5;
  // width: 24%;
  height: 8vh;
}

.stock-bar-ticker {
  width: 10vw;
  padding: 10% 5% 10% 10%;
  margin: 0;
}

.stock-bar-wrapper {
  display: flex;
  justify-content: center;
}

.stock-list-name {
  padding: 1rem;
  font-size: 1.75vw;
  border-radius: 0.3rem;
  margin: 0;
  transition: background-color 0.15s ease-in-out;

  &:hover {
    background-color: #dadada;
  }
}

.stock-name, .stock-price, .stock-percent-change {
  margin-left: 6vw;
}

.row > .stock-nav-col {
  padding: 0 !important;
}

.stock-nav-col {
  display: flex;
  align-items: flex-start;
  width: 18vw;
  // padding: 2rem;
}

.stock-nav-list-header {
  margin: 0 0 0rem 0;
  padding: 0.5rem 0 0 1rem;
  width: 85%;
}

.stock-nav-list-header-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.stock-nav-add {
  border-radius: 2rem;
  padding: 0.5rem;

  &:hover {
    background-color: #dadada;
  }
}

.stock-nav-wrapper {
  border: 1px solid #b3b3b3;
  border-radius: 0.3rem;
  margin: 5vh 0 0 0;
  width: 17vw;
  padding: 1rem;
  box-shadow: inset 0px 0px 0 -20px, 0px 0px 11px -7px;
}
