@import '~bootstrap/scss/bootstrap';

.clickable {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  text-align: left;
}

.clickable-plus {
  height: 100%;
  border: none;
  background: transparent;
  text-align: left;
}

.create-list {
  border: 1px solid #b3b3b3;
  border-radius: 0.3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
}

.create-list-form {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.create-list-input {
  border-radius: 0.3rem;
  padding: 6px 0.5rem;
  border: 1px solid #b3b3b3;
  margin-right: 1vw;
  box-shadow: inset 0px 0px 0 -20px, 0px 0px 11px -7px;
  width: 90%;
}

.css-1bl8mcx-Control {
  display: flex;
  width: 100% !important;
}

.css-26l3qy-menu:nth-child(3) {
  height: 2rem !important;
  padding: 0;
}

.css-14el2xx-placeholder {
  width: 80%;
}

.date-range-wrapper {
  margin-left: 8vw;
}

.date-range-button {
  margin: 3vw;
  border: 2px solid transparent;
  background: none;
  border-radius: 4px;
  transition: color ease-in-out 0.15s, border ease-in-out 0.15s, background-color ease-in-out 0.15s;

  &:hover {
    color: #82ca9e;
    background: #9fccb01c;
    border: 2px solid #82ca9e;
  }
}

.delete-list {
  display: none;
  border-radius: 16px;
  padding: 0.5rem;
  transition: background-color 0.15s ease-in-out, display 0.15s ease-in-out;
}

.delete-list-wrapper {
  border: none;
  background: transparent;
  height: 34px;
  display: flex;
  align-items: center;
}

.filler-spam {
  width: 55vw;
}

.get-data-col {
  width: 45vw;
}

.graph-content {
  display: flex;
  justify-content: center;
  // margin-left: -8vw;
}

.graph-content-wrapper {
  display: flex;
  justify-content: center;
  border: 1px solid $success;
  background-color: white;
  border-radius: 0.5rem;
  width: 80vw;
  padding: 2.5vw 5vw 0 0;
}

main { 
  background-color: #e3f7e1bd;
  height: 100vh;
}

.graph-wrapper {
  width: 40vw;
}

.left-spacer {
  width: 14vw;
}

.navbar-auth-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 5vw;
}

.nav-link {
  padding-left: 3vw;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.navbar-text {
  width: 57vw;
  padding: 0 !important;
}

.navbar-welcome-text {
}

.options {
  display: flex;
  flex-direction: row;
  // padding-left: 3vw;
}

.recharts-cartesian-axis-ticks {
  display: none;
}

.recharts-cartesian-axis-line {
  display: none;
}

.recharts-wrapper {
  // margin-left: 3vw;
  margin-right: 0;
}

.search-bar {
  width: 20vw;
  border: 1px solid #b3b3b3;
  margin: 1rem 0 0rem 0vw;
  padding: 0 !important;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 0 -20px, 0px 0px 11px -7px;
}

.search-bar-spacer {
  width: 51.5vw;
}

.search-bar-row {
  height: 8vh;
}

.signin-parent-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vw;
}

.signin-form-wrapper {
  width: 26vw;
  padding: 3vw;
  border: 1px solid $success;
  background-color: white;
  border-radius: 2rem;
}

.signin-header3 {
  text-align: center;
  margin-bottom: 1rem;
}

.stock-add-button {
  border: none;
  border-radius: 1rem;
  background: transparent;
  transition: border 0.15s ease-in-out;
  float: right;

  &:hover {

  }
}

.stock-add-text {
  padding: 3px;
}

.stock-add-to-list {
  padding: 0.5rem;
  margin-bottom: 3px;
}

.stock-bar {
  background-color: grey;
}

.stock-bar-box {
  display: inline;
  align-items: center;
  height: 12vh;
  width: 90vw;
  background-color: #dadada;
  border-radius: 0.3rem;
  margin: 1rem 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0 1vh;
  box-shadow: 0px 0px 0 -20px, 0px 0px 11px -7px;
  border-collapse: collapse;
}

.stock-bar-delete-stock {
  display: none;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 1rem;
  border: 1px solid #b3b3b3;
  font-size: 0.8rem;
}

.stock-bar-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 2rem;
  color: white;

  p { 
    margin-bottom: 0;
  }
}

.stock-bar-pc {
  text-align: right;
}

.stock-bar-price {
  width: 6vw;
  margin-bottom: 0;
  text-align: right;
}

.stock-bar-price-pc-box {
  margin-right: 2vw;
  margin-left: 1vw;
}

.stock-bar-stock {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 2vh 1vh;
  border-radius: 0.3rem;
  background-color: #f5f5f5;
  // width: 24%;
  height: 8vh;

  &:hover {
    .stock-bar-delete-stock {
      display: unset;
    }
  }
}

.stock-bar-ticker {
  width: 10vw;
  padding: 10% 5% 10% 10%;
  margin: 0;
}

.stock-bar-wrapper {
  display: flex;
  justify-content: center;
  // margin-bottom: 2vh;
}

.stock-list-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  font-size: 1.75vw;
  border-radius: 0.3rem;
  margin: 0;
  transition: background-color 0.15s ease-in-out;

  &:hover {
    background-color: #dadada;
    .delete-list {
      display: unset;

      &:hover {
        background-color: white;
      }
    }
  }
}

.stock-name, .stock-price, .stock-percent-change {
  margin-left: 6vw;
}

.stock-price {
  margin-bottom: 0;
}

.row > .stock-nav-col {
  padding: 0 !important;
}

.stock-nav-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20vw;
  margin-left: 3vw;
}

.stock-nav-list-header {
  margin: 0 0 0rem 0;
  padding: 0rem 0 0 1rem;
  width: 85%;
}

.stock-nav-list-header-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.stock-nav-add {
  border-radius: 2rem;
  padding: 0.5rem;

  &:hover {
    background-color: #dadada;
  }
}

.stock-nav-wrapper {
  border: 1px solid #b3b3b3;
  border-radius: 0.3rem;
  margin: 2vh 0 0 0;
  width: 20vw;
  padding: 1rem;
  box-shadow: inset 0px 0px 0 -20px, 0px 0px 11px -7px;
  max-height: 60vh;
  overflow-y: scroll;
}

.stock-percent-change {
  width: 75%;
}

.stock-price-and-button {
  display: flex;
  align-items: baseline;
}

.submit {
  width: 100%;
  margin-top: 0.5rem;
  border-radius: 0.1rem;
}

.username {
  margin-bottom: 0.5rem;
  border-radius: 0.1rem;
}

.website-title {
  margin-left: 5vw;
  font-size: 2.5rem;
}
